@tailwind base;
@tailwind components;
@tailwind utilities;

/*   VARIABLES   */
@layer base {
  :root {
    --color-black: 14 14 14; /* #0e0e0e */
    --color-white: 249 249 249; /* #F9F9F9 */
    --color-grey: 224 224 224; /* #E5E5E3 */
    --color-blue: 99 91 255; /* #635bff */
    --color-orange: 248 184 134; /* #f8b886 */
    --color-dull-red: 237 30 35; /* #ED1E23 */
    --color-green: 5 220 5; /* #05DC05 */

    --color-grid: 229 229 227; /* #e5e5e3 */
    --color-line: 245 245 244; /* #f5f5f4 */

    --color-primary: 12 12 12; /* #0c0c0c */
    --color-background: 224 224 224;
    --color-box: 235 235 235;
    --color-border: 204 204 204;

    /* shadcn stuff */
    --radius: 0.5rem;
  }
}

@layer components {
  /*   DEFAULT   */
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    @apply m-0 p-0 font-serif;
    @apply select-none;

    font-size: 15px;
    // text-wrap: balance;
    white-space: pre-wrap;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  main {
    @apply fixed inset-0;
    @apply bg-white text-black;
  }

  pre {
    user-select: text;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  strong,
  input {
    @apply m-0 p-0;

    font-family: var(--font-moderat), serif;
    line-height: 0.9em;
  }

  h1 {
    @apply text-4xl leading-none md:text-5xl 2xl:text-6xl;
  }

  h1,
  h2,
  h3 {
    line-height: 0.8em;
    letter-spacing: 0.01em;
  }

  p {
    @apply max-w-md text-sm leading-4;
    text-wrap: pretty;
  }

  a {
    color: inherit;
    text-decoration: none;

    cursor: pointer;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  svg {
    @apply text-white;
  }

  hr {
    @apply h-[1px] w-full border-none bg-white/20;
  }

  /* Remove grey border around images on iOS */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }

  canvas {
    @apply pointer-events-none touch-none select-none;
  }
}

@layer utilities {
  /* animations and keyframes stuff if adding to tailwind becomes a hassle */
}

/* Hide scrollbars for all browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noise {
  @apply after:pointer-events-none after:absolute after:inset-0 after:z-10 after:bg-[url('/textures/noise.png')] after:opacity-100 after:mix-blend-hard-light;
}

.dotted {
  background-image: radial-gradient(rgb(var(--color-grey)) 0.5px, rgb(var(--color-white)) 0.5px);
  background-size: 10px 10px;
}

.dotted-black {
  background-image: radial-gradient(
    rgb(var(--color-white) / 10) 0.5px,
    rgb(var(--color-black)) 0.5px
  );
  background-size: 10px 10px;
}
