@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_root.scss";

/*   VARIABLES   */
@layer base {
  :root {
    --color-white: 239, 230, 225; /* #efe6e1 */
    --color-blue: 99, 91, 255; /* #635bff */
    --color-orange: 248, 184, 134; /* #f8b886 */
    --color-dull-red: 237 30 35; /* #ED1E23 */
    --color-green: 5 220 5; /* #05DC05 */

    --color-grid: 229 229 227; /* #e5e5e3 */
    --color-line: 245 245 244; /* #f5f5f4 */

    --color-primary: 12 12 12; /* #0c0c0c */
    --color-background: 224, 224, 224;
    --color-box: 235, 235, 235;
    --color-border: 204, 204, 204;

    /* shadcn stuff */
    --radius: 0.5rem;
  }
}

@layer components {
  /*   DEFAULT   */
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body {
    @apply bg-[#04080c];
    @apply m-0 p-0 font-serif text-primary;
    @apply select-none;

    font-size: 15px;
    // text-wrap: balance;
    white-space: pre-wrap;

    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  pre {
    user-select: text;
  }

  section {
    @apply fixed bottom-0 left-0 right-0 top-0 z-0 overflow-hidden;
    @apply max-h-screen w-full;
    @apply flex flex-col items-center justify-center gap-4;
    @apply p-2 md:p-6 2xl:p-8;
    @apply text-white;
    @apply pointer-events-none select-none;

    height: 100dvh;
    width: 100dvw;
  }

  // button {
  //   @apply flex items-center justify-center;
  //   @apply px-14 py-1 text-[16px] uppercase md:text-[18px];
  //   @apply bg-white/80 text-black backdrop-blur-lg;
  //   @apply pointer-events-auto transition-all duration-300 ease-in-out;
  //   @apply outline outline-1 outline-offset-0 outline-white/20 md:outline-2 md:outline-offset-0;
  //   @apply hover:bg-white/100 hover:outline-offset-[2px] hover:outline-white hover:md:outline-offset-[2px];
  //   @apply disabled:cursor-not-allowed disabled:opacity-50;
  // }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  section {
    @apply fixed bottom-0 left-0 right-0 top-0 z-[100000000000];
    @apply max-h-screen w-full;
    @apply flex flex-col items-center justify-center md:p-6 2xl:p-8;
    @apply text-white;
    @apply pointer-events-none select-none;

    height: 100dvh;
  }

  article {
    @apply relative;
    /* @apply bg-[rgb(var(--color-box))]; */
    /* @apply rounded-md border border-[rgb(var(--color-border))]; */
    @apply overflow-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  strong,
  input {
    margin: 0;
    padding: 0;

    font-family: var(--font-moderat), serif;
    line-height: 0.9em !important;
  }

  h1 {
    @apply text-4xl leading-none md:text-5xl 2xl:text-6xl;
  }

  h1,
  h2,
  h3 {
    font-weight: 800 !important;
    line-height: 0.8em;
    letter-spacing: 0.01em;
  }

  p {
    @apply max-w-md text-sm leading-4;
    text-wrap: pretty;
  }

  a {
    color: inherit;
    text-decoration: none;

    cursor: pointer;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  hr {
    @apply h-[1px] w-full border-none bg-white/20;
  }

  /* Remove grey border around images on iOS */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }

  canvas {
    @apply pointer-events-none touch-none select-none;
  }
}

@layer utilities {
  /* animations and keyframes stuff if adding to tailwind becomes a hassle */
}

/* Hide scrollbars for all browsers */
::-webkit-scrollbar {
  display: none;
}

body {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noise {
  @apply after:pointer-events-none after:absolute after:inset-0 after:bg-[url('/textures/noise.png')] after:opacity-100 after:mix-blend-hard-light;
}

button {
  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  height: 44px;
  min-width: 136px;
  border-radius: 9999px;
  padding: 0 17px 0 12px;

  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: center;
  color: white;

  transition: 200ms ease;
  transition-property: box-shadow, background, transform;

  &[data-variant="link"] {
  }

  &[data-variant="glass"] {
    position: relative;
    background: #111111;
    backdrop-filter: blur(1px);
    box-shadow:
      0 78px 51px 0 rgba(0, 0, 0, 0.1),
      0 50px 30px 0 rgba(0, 0, 0, 0.07),
      0 30px 16px 0 rgba(0, 0, 0, 0.06),
      0 16px 8px rgba(0, 0, 0, 0.04),
      0 6px 4px rgba(0, 0, 0, 0.04),
      0 2px 2px rgba(0, 0, 0, 0.02);

    --gradientBorder-size: 1px;
    --gradientBorder-gradient: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.94),
      #797979 26%,
      #a4a4a4 63%,
      #fff 100%
    );

    &::before {
      content: "";
      pointer-events: none;
      user-select: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      padding: var(--gradientBorder-size, 1px);
      background: var(--gradientBorder-gradient);

      mask:
        linear-gradient(black, black) content-box,
        linear-gradient(black, black);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  &:active {
    box-shadow: none;
    transform: scale(0.95);
  }
}
